# Object files.
*.o

# Hidden files.
.*
!.gitignore

# Executable files.
ma
create_dics/lemmas_rules
create_dics/lemmas_and_prefixes
create_dics/rules_split_and_sort
create_dics/rules_dics
create_dics/normal_forms

# Backups and temporary data.
*~
create_dics/temp

# Dictionaries and source of them.
dics/
create_dics/sqlite
