# Object files.
*.o

# Hidden files.
.*
!.gitignore

* Files for tests.
input*
result*

# Executable files.
ma
cache
create_dics/make_rules
create_dics/make_dawgdics
create_dics/rules_split_and_sort
create_dics/rules_dics
create_dics/normal_forms

# Backups and temporary data.
*~
create_dics/temp

# Dictionaries and source of them.
dics/
create_dics/sqlite
