# Object files.
*.o

# Executable files.
ma
create_dics/lemmas_rules
create_dics/lemmas_and_prefixes
create_dics/rules_split_and_sort

# Backups and temporary data.
*~
create_dics/temp

# Dictionaries and source of them.
dics/
create_dics/sqlite
